@import url("config.css");

body {
   
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

@media (max-width: 1000px) {

    main {
        width: 100%;
        height: 800px;
        padding: 100px 20px 20px 20px;
        background-color: var(--main_yellow);
        display: flex;
        justify-content: center;
        align-content: center;
     
    }

    main .cart-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
    }

    main .cart-wrapper .cart-review {
        display: flex;

        /* el valor de width es importante para implementar diseño responsivo para la pantalla grande!*/
        width: 450px;
        
        justify-content: space-between;
        align-items: center;
    }

    main .cart-wrapper .cart-review .cart-subtotal {
        color: var(--main_grey);
    }
    main .cart-wrapper  .cart-payment-btn button{
        margin: 15% 0 0 0;
        padding: 10px 30px;
        color: var(--main_grey);
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 2px;
        transition: 0.2s;
        background-color: #ffc400;
        border-radius: 20px;
        border: 1px solid #000000;
        cursor: pointer;
    }

    main .cart-wrapper  .cart-payment-btn button:hover{
        transform: scale(1.1);
        color: white;
        background-color: #fc9541;
        border: none;
        
       
    }



 

.header-button input:hover,
.button-2:hover {
    box-shadow: 0 0 10px #616263, 0 0 40px #979797;
    color: black;
}

    main .cart-wrapper .cart-body {
        padding: 10px;
        max-width: 500px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      
        
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3), 0 4px 25px rgba(0, 0, 0, 0.1);
        
        
    }

    main .cart-wrapper .cart-body ul{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2fr 1fr;
    }

    main .cart-wrapper .cart-body ul li{
        margin: 10px;
    }

    main .cart-wrapper .cart-body ul li a img{
        height: 100px;
        width: auto;
        border-radius: 10%;
    }

    main .cart-wrapper .cart-body ul .cart-item-quantity{
        display: flex;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        border: 2px solid var(--main_yellow);
        border-radius: 20px;
       
    }
    
    
    main .cart-wrapper .cart-body ul .cart-item-quantity a{
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        align-items: center;
       
    }

    main .cart-wrapper .cart-body ul .cart-item-quantity a:hover{
        transform: scale(1.1);
        
       
    }

    main .cart-wrapper .cart-body ul .cart-item-quantity span{
        
        font-size: 20px;
        color: #000000;
       
    }
    
   

}

@media(min-width: 1001px) {
    
    main {
        width: 100%;
        height: 900px;
        padding: 100px 20px 20px 20px;
        background-color: var(--main_yellow);
        display: flex;
        justify-content: center;
        align-content: center;
     
    }

    main .cart-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        
    }

    main .cart-wrapper .cart-review {
        display: flex;

        /* el valor de width es importante para implementar diseño responsivo para la pantalla grande!*/
        width: 450px;
        
        justify-content: space-between;
        align-items: center;
    }

    main .cart-wrapper .cart-review .cart-subtotal {
        color: var(--main_grey);
    }

    main .cart-wrapper .cart-review .cart-subtotal p{
        font-size: 25px;

    }

    main .cart-wrapper .cart-review .cart-subtotal span{
        font-size: 27px;
        color: #e26363;

    }

    main .cart-wrapper  .cart-payment-btn button{
        margin: 15% 0 0 0;
        padding: 10px 30px;
        color: var(--main_grey);
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 2px;
        transition: 0.2s;
        background-color: #ffc400;
        border-radius: 20px;
        border: 1px solid #000000;
        cursor: pointer;
    }

    .cart-wrapper  .cart-payment-btn button:hover{
        transform: scale(1.1);
        color: white;
        background-color: #fc9541;
        border: none;
        
       
    }



 

    .header-button input:hover,
    .button-2:hover {
        box-shadow: 0 0 10px #616263, 0 0 40px #979797;
        color: black;
    }

    main .cart-wrapper .cart-body {
        padding: 10px;
        max-width: 500px;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      
        
        border-radius: 20px;
        background-color: white;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3), 0 4px 25px rgba(0, 0, 0, 0.1);
        
        
    }

    main .cart-wrapper .cart-body .cart-item ul {
        list-style: none;
        display: grid;
        margin-left: -25px;
        grid-template-columns: 1fr 2fr 2fr 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
       
    }

    main .cart-wrapper .cart-body .cart-item ul li{
        margin: 10px;
    }

    main .cart-wrapper .cart-body .cart-item  ul li a img{
        height: 100px;
        width: auto;
        border-radius: 10%;
    }

    main .cart-wrapper .cart-body  .cart-item  ul .cart-item-quantity{
        display: flex;
        background-color: white;
        justify-content: space-around;
        align-items: center;
        border: 2px solid var(--main_yellow);
        border-radius: 20px;
       
    }
    
    
    main .cart-wrapper .cart-body  .cart-item  ul .cart-item-quantity a{
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        align-items: center;
       
    }

    main .cart-wrapper .cart-body  .cart-item ul .cart-item-quantity a:hover{
        transform: scale(1.1);
        
       
    }

    main .cart-wrapper .cart-body  .cart-item ul .cart-item-quantity span{
        
        font-size: 20px;
        color: #000000;
       
    }
    
   
}